.whyus{
    padding: 3rem 0;
    &-title{
        font-size: 18px;
    }
    &-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        &> h2{
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &-sp-user{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 0 20px;
        margin-top: 2rem;
    }
    &-sp-item{
        padding: 2rem 1rem 1rem 1rem;
        color: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem 0;
        border-radius: 5px;
        border: 1px solid #efeeee;
        transition: all 450ms ease;
        &>h3{
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
        }
    
        &-sp-icon{
            font-size: 40px;
            font-weight: 700;
        }
    }
    &-btn-contact{
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        font-weight: 600;
        width: 170px;
        border-radius: 5px;
        transition: all 450ms ease;
        &:hover{
            background-color: transparent;
            color: var(--primary-color);
        }
    }
}

@media (max-width: 767px){
    .b-whyus{
        .whyus-content {
            padding: 20px 15px 20px;
            .whyus-countup{
                flex-wrap: wrap;
                .whyus-countup-item{
                    flex: 0 0 50%;
                    max-width: 50%;
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 400px){
    .b-whyus{
        .whyus-content {
            .whyus-countup{
                flex-wrap: wrap;
                .whyus-countup-item{
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}